.container{
    width: 100%;
 display: flex; 
 flex-direction: row;
 align-items: center;
 justify-content: flex-start;   
 margin-top: 15px;
 margin-bottom: 5px;

 svg{
    fill: var(--accent-color);
 }

 span{
    margin-left: 20px;
}

}